---
import BaseLayout from '../layouts/BaseLayout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import AppShowcase from '../components/AppShowcase.astro'
import ValueProps from '../components/ValueProps.astro'
import FeatureManaging from '../components/FeatureManaging.astro'
import HowItWorks from '../components/HowItWorks.astro'
import CtaBand from '../components/CtaBand.astro'
import SiteFooter from '../components/SiteFooter.astro'
---

<BaseLayout>
  <Nav />
  <main>
    <div class="bg-grid">
      <Hero />
      <AppShowcase />
    </div>
    <ValueProps />
    <FeatureManaging />
    <HowItWorks />
    <CtaBand />
  </main>
  <SiteFooter />
</BaseLayout>
